@tailwind base;
@tailwind components;
@tailwind utilities;
@import "~@flaticon/flaticon-uicons/css/all/all";

@layer base {
  :root {
    --background: 200 20% 98%;
    --btn-background: 200 10% 91%;
    --btn-background-hover: 200 10% 89%;
    --foreground: 200 50% 3%;
  }
}

@layer base {
  * {
    @apply border-foreground/20;
  }
}

.animate-in {
  animation: animateIn 0.3s ease 0.15s both;
}
.slick-slide > div {
  margin: 0 10px;
}
.slick-prev:before, .slick-next:before{
  color: rgb(34 197 94) !important;
  font-size: 30px !important;
}
.hidecardswhentosmall{
  display: none !important;
}
.showcardswhenbig{
  display: block !important;
}
.mobiledropdownbutton{
  height: auto !important;
  width: auto !important;
  background-color: transparent !important;
  border: none !important;
}
@media (max-width: 490px) {
  .hidecardswhentosmall{
    display: block !important;
  }
  .showcardswhenbig{
    display: none !important;
  }
}
@media (max-width: 640px) {
  .slick-slide > div {
    margin: 0 5px;
  }
  div.slick-slider > button::before{
    color: rgb(197, 192, 34) !important;
    font-size: 30px !important;
    display: none;
  
  }
}


@keyframes animateIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}